.door{width:450px;height:300px;z-index:1000;opacity: 1;margin:0;padding:0;background:white;border:1px solid #ccc;position:fixed;}
.door h2{height:30px;line-height:30px;border-bottom:1px dashed #ccc;background:orangered;}
.door span{font-size:20px;position:absolute;right:5px;top:20px;}
